%h1{class: 'text-center'}='League leaderboard'
%h1{class: 'text-center'}=@league.name
%h4{class: 'text-center'}="For event: #{@event.name}"

=render :partial => "shared/leaderboard", locals: { participants: @league.participants_by_rank, event: @event }

%h3
  %a= link_to('Back to leagues', event_leagues_path(@event), class: 'btn btn-default btn-block navbar navbar-fixed-bottom')