%h1{class: 'text-center'}="WEIGH-IN #{@event.name}"
%h2{class: 'text-center'} Overall Leaderboard

=render :partial => "shared/leaderboard", locals: { participants: @event.people.sort_by{|p| p.up_by(@event) || -1000 }.reverse, event: @event }

=link_to('BACK TO EVENT', event_path(@event), class: 'btn btn-default btn-block navbar button-link')
=link_to('OTHER EVENTS', events_path, class: 'btn btn-default btn-block navbar button-link')
=link_to('CHECK IN', new_checkin_path, class: 'btn btn-default btn-block navbar button-link') unless ENV['QUIET_MODE']
