%h2
  #{@event.name}
  %h3
    %a= link_to('Event leagues', event_leagues_path(@event), class: 'btn btn-default btn-block')
  %h3
    %a= link_to('Overall event leaderboard', people_path(event_id: @event.id), class: 'btn btn-default btn-block')
  %br
%h3
  %a= link_to('Back to Events', events_path, class: 'btn btn-default btn-block navbar navbar-fixed-bottom')